<header role="banner" class="position-absolute">
  <!-- Top Navigation -->
  <nav class="background-transparent background-transparent-hightlight full-width sticky">
    <div class="menu-container">
      <div class="s-12 l-2">
        <a [routerLink]="['/']" class="logo">
          <!-- Logo White Version -->
          <img class="logo-white" src="../assets/img/logo-TLBA22-version-definitive-500.png" alt="">
          <!-- Logo Dark Version -->
          <img class="logo-dark" src="../assets/img/logo-TLBA22-version-definitive-500.png" alt="">
        </a>
      </div>
      <div class="top-nav s-12 l-10">
        <ul class="menu right chevron">
          <li class="menu-item" routerLinkActive="active">
            <a [routerLink]="['/']">Accueil</a>
          </li>
          <li class="menu-item">
            <a href="index.html">Le Club</a>
          </li>
          <li class="menu-item">
            <a href="#">Equipe NF2</a>
          </li>
          <li class="menu-item" routerLinkActive="active">
            <a [routerLink]="['/equipe']">Equipes</a>
            <ul class="dropdown-content">
              <li class="no-hover"><a href="#">U15</a></li>
              <li class="no-hover"><a href="#">U15</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="about.html">Ecole de Basket</a>
          </li>
          <li class="menu-item">
            <a href="gallery.html">Galerie</a>
          </li>
          <li class="menu-item">
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
